* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s;
}

@media (min-device-width: 280px) and (max-device-width: 701px) {
  .tasks {
    width: 95%;
    justify-content: center;
  }
}